<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "netBanking">
	
	<listeners>
		<listener class-name="com.netBanking.utilities.Reporting"/>
	</listeners>
	<test name="Banking APP Test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<!--<class name="com.netBanking.testCases.NetBanking"></class> -->
			 <class name="com.netBanking.testCases.LoginTest"></class>  
				<!--<class name="com.netBanking.testCases.Login001"></class>-->
		</classes>
	</test>
	
	
</suite>